#art1, #art2, #art3{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;}

#texto{
    box-sizing: border-box;
    float: center;}
    
#texto p{
     line-height: 2rem;
     text-align: justify;}
    
#texto h2{
    text-align: center;}

#texto h3{
    text-align: center;}

#texto h4{
        text-align: left;}

#video{
    position: relative;
    height: 0;
    padding-bottom: 56.2%;
    overflow: hidden;
    margin-top: 20px;
    }

#ytplayer{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn_art_btn{
    text-decoration: none;
	margin-bottom: 10px;
    margin-right: 10px;
	text-align: center;
	line-height: 2px;
	width: 150px;
	height: 35px;
    background-color: #1a001a00;
	color: #690786;
	padding: 2px;
	border-radius: 25px;
	box-sizing: border-box;
    float: right;}

    
    
