#texto{
    position: relative;
    margin: 2rem; 
    display: flex;
    flex-direction: column;}
    
#texto p{
    text-align: justify;
    line-height: 2rem}
    
#texto h2, h3{
    text-align: center;
    line-height: 4rem;
    text-transform: uppercase;}

#texto h4{
    text-align: left;}

#video{
    float: center;
    display: block;
    box-sizing: border-box;}

.btn_art_btn{
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 2px;
    width: 150px;
    height: 35px;
    background-color: #1a001a00;
    color: #690786;
    padding: 2px;
    border-radius: 25px;
    box-sizing: border-box;
    float: right;}
