
h2 {
    margin: 1rem 2rem;

}
section{
        width: 100%;
        height: 100vh;
        display: inline-block;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 3rem;
        box-sizing: border-box;
}

form {
    margin: 2rem;
    width: 800px;
    top: 10%;
    left: 5%;
/*    transform: translate(-50%, -51%);*/
    position: absolute;
    background: #DDA6DF;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.contact_image{
    float: right;
}

.form-box {
    clear: both;
    width: 100%;
    position: relative;
}

.form-box label {
    font-size: 2rem;
    float: left;
    width: 100px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.form-box input {
    font-size: 2rem;
    width: 300px;
    padding: 0.25rem 1rem;
}

 .form-box button {
    font-size: 2rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    border-radius: 25px;
    color: white;
    background-color: rgb(108, 11, 133);
    cursor: pointer;
}

.error::after {
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 0.7rem;
    line-height: 1.8;
    width: 250px;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    content: attr(data-errormsg);
}

 