  
.body{
    height: 100vh;
    display: grid;
    place-items: center center;}

.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card{
    background-color: #f89df4;
    border-radius: 20px;
    box-shadow: 5px 5px 7px black;}
    
.card:hover{
        background-color: #e73cb4;
        color: #ffffff}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}

.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4);
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb);
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c);
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #000000;
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-weight: bolder;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.details>p{
    color: #1d1d1d;
    line-height: 30px;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.btn_card_btn {text-decoration: none;
	margin-bottom: 10px;
    margin-right: 10px;
	text-align: center;
	line-height: 2px;
	width: 100px;
	height: 50px;
    background-color: #1a001a;
	color: #ffffff;
	padding: 2px;
	border-radius: 25px;
	box-sizing: border-box;
    float: right;}

