main{
    background: url(../Imagenes/Fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.Img-Envi{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.IMG-ENVIADO{
    width: 30rem;
    border-radius:5rem;
}

.ME{
    justify-items: center;
    text-align: center;
    padding-bottom: 25px;
}



@media (max-width:952px){

    
}

@media(max-width:858px){
    main{
        padding-top: 5rem
    }
    .IMG-ENVIADO{
        width: 20rem;

    }
}

@media (max-width:576px){
    main{
        padding-top: 5rem
    }
    .IMG-ENVIADO{
        width: 15rem;
    }
    
    .form-box button {
        margin-bottom: 5%;
        
       
    }
}

